/* Loading screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spinning circle */
#loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #4b56db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* fonts */
*{
  font-family: "Montserrat", sans-serif;
}

/* overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* body, rather background */
body{
  background-image: url('images/IMG_1586.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ensuring blue underline for hyperlinks wont appear underneath images */
a{
  text-decoration: none;
}

/* sizing */
img{
  max-width: 30px;
  height: auto;
  margin-right: 30px;
}

/* position  */
.container{
  margin: auto;
  position: fixed;
  top: 35%;
  left: 20%;

}

.icons{
  margin: auto;
  padding-top: 30px;
}

/* general styling for text */
h1{
  font-size: 64px;
  margin: 0;
  color: #453f3d;
}

p{
  font-size: 26px;
  margin: 15px 0 0 0;
  color: #57504d;
}

/* specific color for text that will be autotyped */
.auto-type{
  color: #4b56db; 
}

/* when users hover over icons, they will appear as inverted over the course of .3 seconds */
.icon{
  transition: filter 0.3s ease;
}

.icon:hover{
  filter: invert(1);
}
